.msg--valid {
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.msg--invalid {
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 5px;
}